body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0F172A;
  color: #E5E7EB;
}

.hidden {
  display: none;
}

#login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#chat {
  display: flex;
  height: 100vh;
}

aside {
  width: 220px;
  background: #111827;
  padding: 10px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

input {
  padding: 10px;
  border: none;
}

button {
  padding: 10px;
  background: #2563EB;
  border: none;
  color: white;
  cursor: pointer;
}
